body {
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(Img/welcome-page-background.jpg);
}

/*Welcoming page*/
header > h1 {
    text-align: center;
    margin: 5rem;
    padding-top: 5%;
    font-size: 64px;
    color: white;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25rem;
}

h3, p{
text-align: center;
margin: 0 auto;
font-size: 1.5rem;
}
h3 {
    font-weight: bold;
    color: white;
}
p {
    font-weight: bold;
}
.Easy {
    color: rgb(55, 255, 0);
}
.Medium {
    color: #FFCC00;
}
.Hard {
    color: #FF0000;
}
main > section > figure > a > img {
    margin-top: 2.5rem;
    
}
main > section > figure > a > img:hover {
    transform: scale(1.2,1.2);
}
/* Story-Page */
.MediumBody {
    background-image: url(Img/Medium-start.png);
    background-repeat: no-repeat;
    min-width: fit-content;
}
.HardBody {
    background-image: url(Img/Hard-start.png);
    background-repeat: no-repeat;
    min-width: fit-content;
}
.EasyBody {
    background-image: url(Img/Easy-start.png);
    background-repeat: no-repeat;
    min-width: fit-content;
}
  
#player {
    display: flex;
    justify-content: center;
    position: absolute;
    image-rendering: pixelated;
    bottom: 0.2vh;
}
#bubbles {
    display: none;
    position: absolute;
    top: -100px;
}

#bubbles > p {
    position: absolute;
    top: 30px;
    left: 34px;
    right: 40px;
}
#npc-bubbles {
    display: none;
    position: absolute;
    top: 55vh;
    left: 100px;
}
#npc-bubbles > p {
    position: absolute;
    top: 30px;
    right: 5px;
}
#Background {
    display: none;
    position: absolute;
    bottom: 1px;
    right: 5px;
    z-index: 9999;
}
#Background > img {
    width: 200px;
    transition: 0.2s;
    
}
#Background > img:hover {
    transform: scale(0.9, 0.9);
}

#inventory-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}


.hidden {
    display: none !important;
}


/* ---------------------------scenes--------------------------------- */
/*Scene 1*/
#Teacher {
    display: none;
}
#soldier {
    display: none;
}
.classroom #Teacher {
    display: block;
    position: absolute;
    top: 33vh;
    left: 40vh;
}
.classroom #npc-bubbles {
    top: 26vh;
    left: 37vh;
}
.classroom #npctext {
    font-size: 20px;
    left: 50px;
    right: 55px;
    top: 24px;
    bottom: 50px;
}
/*Scene 4*/
.Home2 #npc-bubbles {
    top: 33vh;
}

/*scene landing*/
.airplane #soldier {
    display: block;
    position: absolute;
    bottom: 8vh;
    right: 50vh;
}
.airplane #npc-bubbles {
    left: 118vh;
    top: 49vh;
}
.airplane #npctext {
    font-size: 24px;
    left: 25px;
    right: 25px;
}
.warehouse1 #soldier {
    display: block;
    position: absolute;
    bottom: 20vh;
    left: 35vh;
    transform: scaleX(-1);
}
.warehouse1 #npc-bubbles {
    top: 38vh;
    left: 30vh;
}
.warehouse1 #npctext {
    right: 35px;
    top: 4vh;
}