body {
    background: url(Img/Medium-start.png);
    margin: 0;
    padding: 0;
}
.player  {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0.5px;
    left: 165vh;
    transform: scaleX(-1);
}
.text-bubbles {
    position: absolute;
    top: -125px;
}
.text-bubbles-1 {
    position: absolute;
    top: 50vh;
    left: 10vh;
}