body {
    margin: 0;
    padding: 0;
    background-color: black;
}
#big-container {
    display: flex;
    flex-direction: column;
}
#Charc {
    position: relative;
}
#player , #enemy {
    position: absolute;
    top: 77vh;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}
#player {
    transform: scaleX(-1);
}
#player img , #enemy img {
    width: 150px;
}
#Health-bar-player, #Health-bar-enemy {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
#player-Outer-Line , #enemy-Outer-Line {
    width: 200px;
    height: 20px;
    background-color: lightgray;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
}
#player-inner-Line , #enemy-inner-Line {
    height: 100%;
    width: 100%;
}
#player-inner-Line {
    width: 100%;
    height: 100%;
    background-color: green;
}
#enemy-inner-Line {
    height: 100%;
    width: 100%;
    background-color: red;
}
#EShield {
    width: 170px;         
    height: 170px;
    background-color: rgba(0, 150, 255, 0.4); 
    border: 3px solid #00fbff;               
    border-radius: 50%;                     
    position: absolute;
    top: 20px;           
    left: -10px;
    display: none;         
    box-shadow: 0 0 20px #00fbff; 
}
#PShield {
    width: 170px;         
    height: 170px;
    background-color: rgba(0, 150, 255, 0.4); 
    border: 3px solid #00fbff;               
    border-radius: 50%;                     
    position: absolute;
    top: 20px;           
    left: -10px;
    display: none;         
    box-shadow: 0 0 20px #00fbff;   
}
.bullet {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: aqua;
    box-shadow: 0 0 5px aqua;
    z-index: 5;
    display: none;
}
#PBullet {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: aqua;
    box-shadow: 0 0 5px aqua;
    z-index: 5;
    display: none;
}