body {
    margin: 0;
    padding: 0;
}
#Chooses-box {
    border: 4px solid black;
} 
#Main-Container {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
}
#Main-Container button {
    transition: 0.2s;
}
#Main-Container button:hover {
    transform: scale(1.2,1.2);
}
